
#div1{
    background-color: plum;
    margin-top : 100px;
    margin-bottom : 100px;
    margin-left : 100px;
    margin-right : 100px;
}
#div2{
    background-color: pink;
    margin-top : 100px;
    margin-bottom : 100px;
    margin-left : 100px;
    margin-right : 100px;
}
#div3{
    background-color: deeppink;
    margin : 100px 100px 100px 100px;
}
#div4{
    background-color: purple;
    margin: auto;
    width: 300px;
}